.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  /*height: 150px;*/
  /*height: 40px;*/
  /*padding: 20px;*/
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-mapcontainer {
  height: 700px;
  width: 100%;
}

.infowindow {
  width: 240px;
  text-align: left;
}

.infowindow__title a {
  text-decoration: none;
  color: gray;
}

.infowindow__title a:hover {
  text-decoration: underline;
  color: blue;
}

.infowindow__propertylink {
  float: left;
  margin-right: 10px;
  border: 1px solid transparent;
}

.infowindow__propertylink:hover {
  border: 1px solid blue;
}

.infowindow__image {
  height: 80px;
  vertical-align: bottom;
}

.infowindow__maplink {
  text-decoration: none;
}

.infowindow__maplink:hover {
  text-decoration: underline;
}

.infowindow__description a {
  text-decoration: none;
}

.infowindow__description a:hover {
  text-decoration: underline;
}
