html, body, #root {
  height: 100%;
}

.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  display: flex;
  flex-direction: row;
  flex: initial;
  padding: 0px 20px;
  background-color: #222;
  color: white;
}

.App-title {
  flex: 1;
  text-align: left;
}

.App-subtitle {
  flex: 1;
  padding: 26px;
  text-align: left;

  text-decoration: none;
  color: lightblue;
}

.App-subtitle:hover {
  color: white;
}


.App-intro {
  flex: 5;
  text-align: right;
  font-size: small;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-content {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.App-mapcontainer {
  flex: 1;
}

.App-sidebar {
  flex: initial;
  width: 120px;
  padding: 20px;
  background-color: lightblue;
  text-align: left;
  font-size: small;
}

.infowindow {
  width: 240px;
  text-align: left;
}

.infowindow__title a {
  text-decoration: none;
  color: gray;
}

.infowindow__title a:hover {
  text-decoration: underline;
  color: blue;
}

.infowindow__propertylink {
  float: left;
  margin-right: 10px;
  border: 1px solid transparent;
}

.infowindow__propertylink:hover {
  border: 1px solid blue;
}

.infowindow__image {
  width: 100px;
  height: 80px;
  vertical-align: bottom;
}

.infowindow__maplink {
  text-decoration: none;
}

.infowindow__maplink:hover {
  text-decoration: underline;
}

.infowindow__description a {
  text-decoration: none;
}

.infowindow__description a:hover {
  text-decoration: underline;
}
